<h1 class="title">X-Ray Body Scans</h1>
{{#.}}
    <h2>Body scan</h2>
    <table class="summary-list">
        <tr><td>Person</td><td>{{ optionalValue person }}</td></tr>
        <tr><td>Date</td><td>{{ optionalValue date }}</td></tr>
        <tr><td>Justification</td><td>{{ optionalValue justification }}</td></tr>
        <tr><td>Outcome</td><td>{{ optionalValue outcome }}</td></tr>
        <tr><td>Find</td><td>{{ optionalValue find }}</td></tr>
        <tr><td>Establishment</td><td>{{ optionalValue establishment }}</td></tr>
    </table>
{{/.}}
